/*       Mobile version      */
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 240, 240);
}
header {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-image: url("/assets/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 3em;
  padding-bottom: 2em;
}
.logo img {
  max-width: 50%;
}
ul {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
  padding-bottom: 1em;
}
li {
  padding: 0.5rem;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
div.fixed {
  font-size: 0.8em;
  background-color: #84a009a7;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 0.4rem;
  margin: 0 auto;
}
article {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  margin-top: 2.5em;
}
.benefits,
.choise {
  box-shadow: 1px 1px 4px rgb(208, 208, 208);
  padding: 1em;
}
.benefits img,
div {
  width: 100%;
}
.benefits div {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  background-color: #b1c64f;
  font-size: 0.9rem;
  padding: 0 2em;
  margin-bottom: 1em;
}
.benefits h2 {
  margin: 0.5em 0 0 0;
}
.benefits p {
  margin: 0.5rem auto;
  font-weight: 0.5em;
}
.choise h2 {
  align-self: flex-start;
  font-size: 1.3em;
}
.choise-1,
.choise-2,
.choise-3,
.choise-4,
.choise-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.production {
  border: none;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6em;
  margin-bottom: 6em;
}
.production section {
  box-shadow: 1px 1px 4px rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}
.title-1,
.title-2,
.title-3 {
  display: flex;
  align-items: center;
  gap: 0.1em;
  width: 100%;
}
.title-1 {
  background-color: rgb(216, 73, 73);
}
.title-2 {
  background-color: rgb(255, 162, 0);
}
.title-3 {
  background-color: rgb(85, 207, 191);
}
img.title {
  padding-left: 1em;
  height: 1.2em;
}
article.production section img {
  max-width: 70%;
  margin-top: 0.5em;
}
h2,
h3,
p {
  font-family: "Amaranth", sans-serif;
  font-weight: lighter;
}
.choise h3,
.choise h2,
section h4,
section p {
  color: rgb(129, 129, 129);
}
a,
.fixed,
.benefits {
  color: rgb(210, 220, 195);
}
h2,
.title-1 h3,
.title-2 h3,
.title-3 h3 {
  color: rgb(240, 240, 240);
  margin: 0.6em;
}
section p {
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 1.3em;
}
section h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/*      Breakpoint 900px         */
@media screen and (min-width: 900px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav {
    width: 80%;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo,
  .cart {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 4em 0em 2em;
  }
  .logo {
    justify-content: flex-start;
  }
  .cart {
    justify-content: flex-end;
    color: rgb(240, 240, 240);
    gap: 0.5em;
  }
  .cart span {
    text-align: right;
    font-family: "Open Sans", sans-serif;
  }
  .choise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .choise img {
    max-width: 80%;
  }
  .choise-1,
  .choise-2,
  .choise-3,
  .choise-4,
  .choise-5 {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .choise h2 {
    width: 100%;
  }
  .production {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .benefits div {
    align-self: flex-start;
    position: absolute;
    background-color: #8ccb0fd7;
    width: 30%;
    padding: 0 1em;
    text-align: left;
  }
}
